.about{
    margin-top: 80px;
}
.about-parent{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.about-child h1{
    font-size: 3rem;
    font-weight: 600;
    padding-bottom: 20px;
}
.about-child p{
    font-size: 1rem;
    font-weight: 300;
    max-width: 900px;
    line-height: 24px;
    margin-bottom: 50px;
    padding-top: 20px;
}
.about-child p span{
    background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media screen and (max-width:576px) {
    .about-parent{
    padding: 50px 0px;
}
}