.Exparience{
   background-color: #1a0b2e10;
}
.exparience-parent{
    margin-top: 50px;
    padding-top: 80px;
}
.exp-tittel h1{
    text-align: center;
    font-size: 3rem;
}
.exp-card img{
    max-width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #1A0B2E;
}
.exp-card{
    border: 2px solid #1A0B2E;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}
.exp-card h1{
    font-size: 2rem;
    font-weight: 500;
    padding-top: 10px;
}
.exp-card p{
    padding-top: 10px;
    font-weight: 400;
    line-height: 24px;
}

.exparience-child{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 80px;
    padding-bottom: 80px;
}
@media screen and (max-width:576px) {
    .exparience-child{
    grid-template-columns: repeat(1, 1fr);
}
.exparience-parent{
    padding: 20px;
}
}