@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Google-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font: weight 400px;;
  font-style: normal;
}
.display-flex{
    display: flex;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.navbar{
    background-color: #1A0B2E;
}
.nabvar-parent{
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px 30px 0;
}
.navbar-logo h1{
    color: white;
    font-size: 2.2rem;
    cursor: pointer;
}
.navbar-logo h1 span{
    background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.navbar-links ul{
    list-style: none;
    gap: 32px;
}
.navbar-links ul li a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 300;
}
.bars{
 color: white;
 display: none;
 margin-right: 20px;
 font-size: 1.5rem;
}

@media screen and (max-width:576px) {
     .bars{
    display: inline;
}
.navbar-links{
    display: none;
}
.nabvar-parent{
    padding:15px;
}
}